<div class="content2 clearfix">

    <a href="#popup1" ng-click="vm.createItem()"><img src="assets/Add.png" /></a>

</div>
<p><a href class="btn btn-default btn-lg " ng-click="vm.showCustom()">Show Custom</a></p>

<div class="contentitem clearfix" ng-repeat="item in vm.items">
    <div class="right">
        <a ng-click="vm.deleteItem(item.itemId)"><img class="spacer" src="assets/Delete.png" /></a>
        <a ng-click="vm.editItem(item)"><img src="assets/Edit.png" /></a>
    </div>
    <div class="center">
        <input type="text" id="featureone" placeholder="{{item.one}}"/>
        <input type="text" id="featuretwo" placeholder="{{item.two}}"/>
        <input type="text" id="featurethree" placeholder="{{item.three}}"/>
    </div>
    <div class="left">{{item.itemId}}.</div>
</div>