<div id="simple-modal">
    <div class="simple-modal-content">
        <h2>Lorem Ipsum</h2>
        <input type="text" ng-model="item.one" name="one" value="{{item.one}}">
        <input type="text" ng-model="item.two" name="one" value="{{item.two}}">
        <input type="text" ng-model="item.two" name="one" value="{{item.three}}">
        <div class="action">
            <button ng-click="edit()" type="button">Edit</button>
            <button ng-click="save()" type="button">Save</button>
            <button ng-click="delete()" type="button">Delete</button>
        </div>
    </div>
</div>