body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica;
}
h1 {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 36px;
    font-weight: 400;
    color: #676767;
    margin-top: 33px;
    margin-bottom: 32px;
}
@media (min-width: 666px) {
    h1 {
        margin: 0;
        margin-bottom: 32px;
    }
}
p {
    font-size: 12px;
    color: #676767;
    padding: 0;
    margin: 0;
    margin-bottom: 28px;
}
.justified {
    text-align: justify;
    text-justify: inter-word;
}
.alignedright {
    text-align: right;
}
.italic {
    font-style: italic;
}
.content {
    width: 280px;
    margin: 0 auto;
    margin-top: 25px;
}
@media (min-width: 666px) {
    .content {
        width: 666px;
        margin: 0 auto;
        margin-top: 25px;
        border: 0;
    }
}
.content2 {
    width: 272px;
    margin: 0 auto;
    margin-top: 47px;
    margin-bottom: 37px;
    padding: 0;
    border: 0;
}
@media (min-width: 666px) {
    .content2 {
        width: 666px;
        margin: 0 auto;
        margin-top: 47px;
        margin-bottom: 37px;
        padding: 0;
        border: 0;
    }
}
.contentitem {
    width: 272px;
    padding: 0;
    border: 0;
    margin: 0 auto;
    margin-bottom: 49px;
}
@media (min-width: 666px) {
    .contentitem {
        width: 666px;
    }
}
.clearfix {
    overflow: auto;
    zoom: 1;
}
.contleft {
    float: right;
    width: 232px;
    background-color: #f4f4f4;
    padding: 20px 20px 0 20px;
    margin-top: 25px;
}
@media (min-width: 666px) {
    .contleft {
        float: right;
        width: 232px;
        margin: 0 auto;
        margin-top: 47px;
        padding: 20px 20px 0 20px;
    }
}
.contright {
    float: right;
    width: 272px;
    height: 540px;
    background-image: url("../assets/photo.jpg");
}
@media (min-width: 666px) {
    .contright {
        float: right;
        width: 360px;
        height: 540px;
        margin: 0 auto;
        margin-left: 34px;
        margin-top: 47px;
        background-image: url("../assets/photo.jpg");
    }
}

.left {
    width: 24px;
    float: right;
    line-height: 35px;
    color: #A4A4A4;
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: 0;
}
@media (min-width: 666px) {
    .left {
        width: 24px;
        float: right;
    }
}
.center {
    width: 170px;
    float: right;
}
@media (min-width: 666px) {
    .center {
        width: 560px;
        margin: 0;
        padding: 0;
        border: 0;
        float: right;
    }
}
.right {
    float: right;
    width: 78px;
}
@media (min-width: 666px) {
    .right {
        float: right;
    }
}

.content2 img {
    float: right;
}
@media (min-width: 666px) {
    .content2 img {
        line-height: 35px;
        margin: 0;
        padding: 0;
        border: 0;
        float: right;
    }
}

.right img {
    margin: 0 0 0 11px;
    padding: 0;
    position: relative;
    transform: translateY( 30%);
    float: right;
}
@media (min-width: 666px) {
    .right img {
        margin: 0 0 0 17px;
        padding: 0;
        position: relative;
        transform: translateY( 30%);
        float: right;
    }
}

input {
    width: 170px;
    font-size: 12px;
    border: 1px solid #A4A4A4;
    color: #A4A4A4;
    padding: 2px 10px 2px 10px;
    margin-bottom: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 666px) {
    input {
        width: 560px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
input[type=text] {
    height: 29px;
}
@media (min-width: 666px) {
    input[type=text] {
        height: 35px;
    }
}
img.spacer {
    margin-left: 19px;
}
@media (min-width: 666px) {
    img.spacer {
        margin-left: 18px;
    }
}

.modal-box {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-box .simple-modal-content {
    text-align: center;
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0 20px;
    outline: 0;
    width: 320px;
}
@media (min-width: 666px) {
    .modal-box .simple-modal-content {
        width: 437px;
    }
}

.modal-box .simple-modal-content h2 {
    position: relative;
    text-align: center;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: #A4A4A4;
    padding-top: 74px;
    padding-bottom: 51px;
}
.modal-box .simple-modal-content input {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 261px;
}
@media (min-width: 666px) {
    .modal-box .simple-modal-content input {
        width: 337px;
    }
}

.modal-box .simple-modal-content .action {
    padding-bottom: 51px;
}
.modal-box .simple-modal-content button {
    font-size: 12px;
    border: 1px solid #F0F0F0;
    border-radius: 15px;
    color: #A4A4A4;
    background-color: #F0F0F0;
    width: 71px;
    margin-right: 19px;
    transition: all 200ms;
    display: inline-block;
    padding: 5px 0;
    text-decoration: none;
}
.modal-box .simple-modal-content button:last-child {
    margin-right: 0px;
}
